html, body {
    box-sizing: border-box;
    margin: 0;
    padding: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
}


.title {
    margin: 0;
    text-align: center;
    opacity: .2;
}

.player-board{
    /* width: 400px;
    height: 400px; */
    margin-right: 10px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    background-color: aqua;
    cursor: pointer;
}

.computer-board{
    /* width: 400px;
    height: 400px; */
    margin-left: 10px;
    background-color: bisque;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    cursor: pointer;
}

.select-ships{
    /* width: 400px;
    height: 400px; */
    background-color: rgb(228, 205, 255);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    
}

.cell {
    height: 35px;
    width: 35px;
    border: 1px solid black;
}

.player-board .cell:hover{
    background-color: aquamarine;
}

.computer-board .cell:hover{
    background-color: blanchedalmond;
}

div p{
    text-align: center;
}

.board {
    margin: 20px;
}

.board div{
    height: 40px;
    width: 40px;
    background-color: cadetblue;
    border: 1px solid black
}

.board div:hover{
cursor: pointer;
opacity: .5;
}